/* Boostrap custom colors*/
:root{
    --primary: #C74FB5;
    --secondary: #FAD5F5;
    --warning: #F88536;
    --info: #64D6DB;
}

/*BODY*/
body{
    background-color: #fff1f9;
    font-family: "Poppins", sans-serif;
}

/*FONTS*/
h1{
    font-weight: 800;
    color: #DC86B3;
}

h2{
    font-weight: 700;
}

h5{
    text-align: center;
    color: #F88536;
    font-weight: 500;
    font-size: 50px;
}

/*MAIN*/
main {
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Background of the Nav*/
.navbar{
    background-image: url('/img/navbar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    border: none;
}

/*Nav brand*/
.navbar-brand{
    font-size: 40px;
    font-weight: 800;
}

.nav-link {
    color: black;
}

.nav-link:visited {
    color: black;
}

/* nav hover */
.nav-link:hover {
    color: #C74FB5; 
    transform: translateY(-7px);
}

/*Banner card with my picture*/
.card.text-bg-dark {
    border: none; 
}

.card-banner{
    min-height: 312px;
    position: relative;
    top: 312px;
    z-index: 3;
    margin-bottom: 342px;
}

/* desktop card banner */
@media screen and (min-width: 992px) {
    .card-banner{
        min-height:auto !important;
        top: 0;
        margin:30px auto;
    }
}

/*NAV DESPLEGABLE*-------/

/* background color nav dropdown */
.dropdown-menu.dropdown-menu-dark {
    background-color: #EABCE3 !important;
}

.dropdown-item .active{
    background-color: #CB7099;
}

.dropdown-item:visited{
    color: black;
}

.dropdown-item:hover{
    background-color: #CB7099;
    color: black;
}

.btn-secondary{
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: black;
}

.btn-secondary:hover{
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.dropdown-menu .dropdown-menu-dark{
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: black;
}


/*Card of Natalia in the middle of the background*/
.img-fluid.rounded-circle{
    height: 80%;
}

.card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-md-8{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query for screens until 767px */
@media (max-width: 767px) {
    /* hide div banner-card */
    .banner-card {
      display: none;
    }
}


/*CONTACT*/
/*Let's talk*/
.helping{
    text-align: center;
}

/*Warning color*/
.btn-warning{
    background-color: var(--warning) !important;
    border-color: var(--warning) !important;
}

/*Info color*/
.btn-info{
    background-color: var(--info) !important;
    border-color: var(--info) !important;
}

/*///////////////////////////////////////////ABOUT/////////////////////////////////////////*/
/*NATALIA CARD*/
.container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.profile-nat {
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-bottom: 20px;
    max-width: 100%;
}
  
.card-natalia {
    margin-top: 20px;
}
  
@media (max-width: 768px) {
    .profile-nat {
      flex-direction: column;
    }
  
.card-natalia {
      margin-top: 0; 
      margin-left: 0; 
      margin-right: 0; 
      width: 100%; 
    }
}
  

/*Education*/

.education-card {
    width: 100%;
    background-color: #DC86B3;
    color: white;
    border: none;
}
.time {
    margin-left: 10px; /* Ajustar el margen izquierdo para separar el elemento "time" del texto */
}
  
h6, h4 {
    margin-bottom: 0; /* Eliminar el margen inferior predeterminado de los elementos h6 y h4 */
}
  
  


/*MISSION AND VISION*/
.mission {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
  
.mission-item,.vision-item {
    padding: 20px;
}

/*Testiomonials*/
.testimonials {
    padding: 20px;
}
  
.testimonios {
    text-align: center;
}
  
.munch,.latino {
    margin-bottom: 20px;
}
  
.munch img,.latino img {
    max-width: 100%;
}
  
.text-center {
    text-align: center;
}
  
/*///////////////////////////////////////////SERVICES/////////////////////////////////////////*/

.service{
    text-align: center;
    color: #F88536;
}
.mywork{
    text-align: center;
    color: #F88536;
}

/*Contact me card*/
.contact-me {
    width: 100%;
    background-color: #FDE8E7;
    color: black;
    border: none;
}

.btn-lets {
    display: block;
    margin: auto;
    text-align: center;
}

/*///////////////////////////////////////FOOTER///////////////////////////////////////////*/
footer{
    background-color: #ffdff1;
    text-align: center;
    color: #C74FB5;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
}


.links {
    display: flex;
    flex-direction: column;
}


.links a {
    display: block;
    color: black;
    margin-bottom: 10px; 
}

.links a::after {
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 2px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.icons {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 5px;
}

.icons svg {
    width: 60px;
    height: 60px;
}











